<h2 class="end" > 
    Back-End Data

</h2>
<div >
    <div *ngFor="let brew of brews"  class="card" style="width: 18rem;"  >
        <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                      </div>
          <h5 class="card-title">{{brew.Name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{brew.Description}}</h6>
          <p class="card-text">Here the data Back-end data is received.</p>
          <button type="button" class="btn btn-primary">Shares</button>
          
        </div>
    </div>